<html>
<head>
    
  <title>Login Page</title>
  <link rel="stylesheet" href="static/login.css"> 
</head>
<body>
  <div class="container">
    <h1>Login</h1>
    <form action="" method="post">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" class="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" class="password"><br><br>
      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="/singup">Sign up</a></p>
  </div>
</body>
</html>